/* setting reset Layout Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  outline: 0;
  border-radius: 0;
  border: 0;
  color: #777;
  font-family: "Roboto", "Noto Sans KR", sans-serif;

  font-size: 14px;
}
textarea {
  resize: none;
}

img {
  display: block;
}
em {
  font-style: normal;
}
b {
  font-weight: normal;
}
.center {
  width: 100%;
  margin: auto;
  max-width: 1440px;
  height: auto;
}

.wrap {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

body {
  font-size: 14px;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
}
