.center {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: auto;
}

header {
  background: coral;
}

.top {
  height: auto;
  width: 100%;
  font-size: 12px;
}
.top ul {
  display: flex;
  justify-content: center;
}

.top-menu {
  background: cornflowerblue;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 180px;
  height: 20px;
  border: 1px solid black;
}

section {
  height: 700px;
  width: 100%;
  background: #efefef;
}