.center {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: auto;
}

header {
    background: #fff;
    box-shadow: 1px 1px 0px #efefef;
}
.top {
    height: auto;
    width: 100%;
    font-size: 12px;
    ul {
        display: flex;
        justify-content: center;
    }
}

.top-menu {
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
}
.search {
    width: 180px;
    height: 20px;
    border: 1px solid black;
}
section {
    height: 700px;
    width: 100%;
    background: #efefef;
}
